<h2 mat-dialog-title>{{formTitle}} customer</h2>
<mat-dialog-content>
  <form [formGroup]="customerForm" class="customerForm">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>      
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>     
      <mat-grid-tile>
        <mat-form-field class="input-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"  autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>     
   
    </mat-grid-list>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button [disabled]="customerForm.invalid" color="primary" (click)="addEditCustomer()">{{actionButton}}</button>
</mat-dialog-actions>
